<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>$(DEVELOPMENT_LANGUAGE)</string>
  <key>CFBundleExecutable</key>
  <string>App</string>
  <key>CFBundleIdentifier</key>
  <string>io.flutter.flutter.app</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>App</string>
  <key>CFBundlePackageType</key>
  <string>FMWK</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>CFBundleSignature</key>
  <string>????</string>
  <key>CFBundleVersion</key>
  <string>1.0</string>
  <key>MinimumOSVersion</key>
  <string>8.0</string>

  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>CFBundleURLName</key>
      <string>tencent</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>tencent1110330239</string>
      </array>
    </dict>
  </array>
  <key>LSApplicationQueriesSchemes</key>
  <array>
    <string>mqq</string>
    <string>mqqapi</string>
    <string>mqqwpa</string>
    <string>mqqbrowser</string>
    <string>mttbrowser</string>
    <string>mqqOpensdkSSoLogin</string>
    <string>mqqopensdkapiV2</string>
    <string>mqqopensdkapiV3</string>
    <string>mqqopensdkapiV4</string>
    <string>wtloginmqq2</string>
    <string>mqzone</string>
    <string>mqzoneopensdk</string>
    <string>mqzoneopensdkapi</string>
    <string>mqzoneopensdkapi19</string>
    <string>mqzoneopensdkapiV2</string>
    <string>mqqapiwallet</string>
    <string>mqqopensdkfriend</string>
    <string>mqqopensdkdataline</string>
    <string>mqqgamebindinggroup</string>
    <string>mqqopensdkgrouptribeshare</string>
    <string>tencentapi.qq.reqContent</string>
    <string>tencentapi.qzone.reqContent</string>
  </array>
  <key>NSMicrophoneUsageDescription</key>
  <string>microphoneUsageDescription</string>
  <key>NSPhotoLibraryUsageDescription</key>
  <string>photoLibraryDesciption</string>
  <key>NSCameraUsageDescription</key>
  <string>cameraUsageDesciption</string>
  <key>LSRequiresIPhoneOS</key>
  <true/>
  <key>UIBackgroundModes</key>
  <array>
    <string>fetch</string>
    <string>remote-notification</string>
  </array>
</dict>
</plist>
